 
<footer class="site-footer">
    <div class="footer-container">
        <div class="contact-info">
            <h3>Contacto</h3>
            <p>Correo electrónico: {{correo}}</p>
            <p>Teléfono: {{numero}}</p>
        </div>
        
        
        <div class="social-media">
            <h3>Redes Sociales</h3>
            <a href="https://www.linkedin.com/in/braily-roman-seberino-30b461264/"><i class="bi bi-linkedin" target="_blank"></i></a>
            <a href="https://twitter.com/DextronHD03" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/braily_rs35/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-github" target="_blank"></i></a>

        </div>
        
        <div class="copyright">
            <p>&copy; {{year}} {{nombre}} - Todos los derechos de autor están reservados por Tu Compañía. Queda prohibida la reproducción, distribución o modificación no autorizada de este contenido. Se permite la reproducción con fines no comerciales siempre que se atribuya adecuadamente y se enlace a la fuente original. Para obtener más información, consulte nuestras políticas legales completas, incluyendo la política de privacidad y los términos de servicio. </p>
        </div>
    </div>
</footer>